body {
    color: black;
    font-size: 20px;
    margin: 0 auto;
    width: 1200px;
    background-image: url("compliments_backgr2.jpg") 
}

header {
    background-color: lightgray;
    margin-bottom: 25px;}

#new-collection {
    color: black;
    border: 1px solid black;
    width:25%;
    height: 150px;
    margin-bottom: 350px;
    font-weight: bold;
    text-align: center;
}

#check-out {
    width: 600px;
    color: white;
    background-color: black;
    text-align: center;}

h2 {
    font-size: 200%;
    background-color: lightgray;
    text-align: center;
    border: 1px black solid;
margin-top: 0px;}

#links a {
    margin-right: 75px;
    margin-left: 75px;
}

p {color:white;}

a {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    color: red;
}



